
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>JU CODER</title>	
</head>
<body class="layout-default">
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="slider-content animated zoomIn">
					<div>
						<p class="title is-1 main-text has-text-purple">Welcome to JU CODER</p>
						<p class="subtitle is-4 main-text has-text-white">A SOCIAL MEDIA PLATFORM FOR CODERS AT JU</p>
						<div class="field is-grouped">
							<p class="control">
								<a class="button is-primary is-active" href="/accounts/sign-in" target="_blank">
									<span>LOG IN</span>
								</a>
							</p>
							<p class="control">
								<a class="button is-success" href="/accounts/sign-up" target="_blank">
									<span>SIGN UP</span>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</html>
