
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="canonical" href="https://aldi.github.io/awesome-bulma-templates/templates/hotel/hotel.html"/>
	<title>JU CODER</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous">
	<script defer src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
</head>
<body class="layout-default">
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="slider-content animated zoomIn">
					<div>
						<p class="title is-1 main-text has-text-purple">Welcome to JU CODER</p>
						<p class="subtitle is-4 main-text has-text-white">A SOCIAL MEDIA PLATFORM FOR CODERS AT JU</p>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- website Section -->
	<section class="hero" id="rooms">
		<div class="hero-body">
			<div class="container">
				<div class="rooms columns">
					<!-- Executive Gold Single -->
					<div class="column">
						<figure class="image">
							<img src="http://via.placeholder.com/500x375" alt="Executive Gold Single">
						</figure>
						<div class="content">
							<div></div>
							<h1 class="title is-6">Posts</h1>
							<p>post questions users at school</p>
						</div>
					</div>
					<div class="column">
						<figure class="image">
							<img src="http://via.placeholder.com/500x375" alt="Executive Gold Single">
						</figure>
						<div class="content">
							<div></div>
							<h1 class="title is-6">Message</h1>
							<p>you can communicate with others by messages</p>
						</div>
					</div>
					<div class="column">
						<figure class="image">
							<img src="http://via.placeholder.com/500x375" alt="Executive Gold Single">
						</figure>
						<div class="content">
							<div></div>
							<h1 class="title is-6">Home</h1>
							<p>There you can see all users posts.</p>
						</div>
					</div>
					<div class="column">
						<figure class="image">
							<img src="http://via.placeholder.com/500x375" alt="Executive Gold Single">
						</figure>
						<div class="content">
							<div></div>
							<h1 class="title is-6">Profile</h1>
							<p>Users profile where you can see what the users posts.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
</html>
